// css with class selector.
.main
{
    background-color: rgb(119, 171, 145);
    height: 1200px;
    width: 150rem;
    color:rgba(255, 0, 0, 0.919);
    font-size: 20px;
    background-repeat:repeat;
    // background-image: url('/assets/Images/natureimg.jpg');
}

.title-section
{
    margin: auto;
    text-align: left;
}
.city-section
{
    font-size: 30px;
    font-family: cursive;
    color:rgb(53, 5, 244);
}
.navigation-page
{
    background-color: rgb(15, 12, 13);
}