<!-- first Angular project creation -->
<div class="main">
  <div class="navigation-page">
       <h1 class="title-section">{{title}}</h1>
  </div>
  <p class="city-section">{{city3}}</p>

  {{name}}
  <p>{{name}}</p>
  <p>{{num1+num2}}</p><!-- can we pass arithmatic expression in string interpolation:yes -->

  <p>{{num1==10}}</p><!-- it will return true or false-->

  <p>{{500+20}}</p>

  <p>{{500+40 +'pooja' + 20+30}}</p><!-- <p>{{typeof(no1)}}</p> In interpolation type of operator will through error -->

  <p>{{learningstringinterpolation()}}</p>
  <!-- we can function into the ingterpollation -->

 <!-- <p>{{no2 = 600}}</p>assigning value to the property from interpolation is not possible-->

<!-- <p>{{}}</p> Parser Error: Blank expressions are not allowed in interpolated strings -->
</div>



