// css with class selector.
.main
{
    // background-color: rgb(158, 243, 196);
    height: 1000px;
    width: 110rem;
    color:chartreuse;
    font-size: 25px;
    background-repeat: no-repeat;
    background-image: url('/assets/Images/natureimg.jpg');
}

.title-section
{
    margin: auto;
    text-align: center;
}
.city-section
{
    font-size: 50px;
    font-family: cursive;
    color:rgb(245, 9, 9);
}
.navigation-page
{
    background-color: rgb(243, 53, 82);
}