.main{
    background-color:orange;
    width: 25%;
    margin: auto;
    padding: 10px;
    // text-align: center;
}
h2{
    color:red;
    text-shadow: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    width: 370px;
}
body{
    background-image: url('~src/assets/images/image6.jpg');
    background-size: cover;
}