<body>
    <nav class="navbar">
        <span style="font-size: xx-large; margin-left: 5px; text-align: center;color: red;"><b><i>HOTEL ARANYA</i></b></span>
        <div class="btns">
        <button class="btn" mat-raised-button color="accent" (click)="adminSelected()" >ADMIN</button>
        <button class="btn" mat-raised-button color="accent" (click)="ownerSelected()">OWNER</button>
        <button class="btn" mat-raised-button color="accent" (click)="userSelected()">USER</button>
       </div>
    </nav>
</body>


