table, th , td  {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin-left: 20px;
    background-color:orange;
    text-align: center;
    text-decoration: 20px;
  }
  .main{
    text-align: center;
    padding: 2px 2px;
    margin: auto;
    width: 500px;
    margin-top: 60px;
  }
  .input{
    margin: auto;
   text-align: center; 
   margin-top: 30px;
  }