.main{
    background-image: url('Rose.jpg');
    height: 1000px;
    // width: 90rem;
    background-position: center;
    background-color: aquamarine;
    background-repeat: repeat;
    
}
.back-btn{
    background-color: crimson;
    font-size: x-large;
}
h2{
    color: chartreuse;
    font-style: oblique;
    text-shadow: crimson;
    font-size: xx-large;
}
