div {
    background-color: rgb(171, 246, 171);
    height: 1000px;
    width: 95rem;
}

.dir-btn {
    background-color: rgb(245, 204, 70);
    margin-left: 30px;
    font-size: 20px;
    border-radius: 15%;
    font-weight: bolder;
    font-style: italic;
    padding: 5px 21px;
    margin-top: 10px;
}

.back-btn {
    background-color: rgb(245, 204, 70);
    margin-left: 30px;
    font-size: 20px;
    border-radius: 15%;
    font-weight: bolder;
    font-style: italic;
    padding: 5px 21px;
    margin-top: 10px;
}