<nav class="main">
    <ul>
        <!-- services in angular -->
        <input type="text" [(ngModel)]="inputboxValue" placeholder="Type any text here..."> <br><br>
        <li> <button (click)="home()" class="home-btn">Home</button></li>
        <li><button (click)="test()" class="test-btn">Test</button></li>
        <li> <button (click)="gallery()" class="gallery-btn">Gallery</button></li><br><br>
        <br>
        <button routerLink="/studentmod/parent">parent component</button>
        <br><br>
        <button (click)="adminmod()">Admin</button><br><br>
        <button (click)="BlogLogin()">BlogLogin</button><br><br>
        <button (click)="subjectbtn()">click suject</button>
        <br><br>
        <div>
            {{name | uppercase}} <br>
            {{name | lowercase}} <br>
            {{date}} <br>
            {{date | date}} <br>
            {{date | date : 'dd/MM/yyyy'}} <br>
            {{date | date : 'fullDate'}} <br>
            {{date | date : 'shortDate'}} <br>
        </div>
        <br>
        <button routerLink="/table">Table</button>
    </ul>
</nav>